h3, h5 {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.about-us__block{
  display: flex;
  margin-bottom: 50px;
}

.about-us__img-block {
  width: 50%;
}

.about-us__text-block {
  width: 50%;
}

.about-us__text-block-first {
  margin-top: 75px;
}
