<h3>О нас</h3>
<div class="about-us__blocks">
  <div class="about-us__block">
    <div class="about-us__img-block">
      <img src="assets/images/about-us-img-1.png" alt="">
    </div>
    <div class="about-us__text-block about-us__text-block-first">
      <p>Здравствуйте. Вы зашли на сайт профессиональной веб-студии, предлагающей разработку качественных, интересных,
        креативных и самых современных сайтов в Бишкеке. Здесь Вы сможете узнать, какой сайт Вам нужен, как заказать
        сайт в
        Бишкеке, сколько это будет стоить, и как быстро он будет разработан.
        Наша веб-студия занимается прорисовкой, разработкой, внедрением сайтов уже не первый год. Усилиями дизайнеров,
        верстальщиков, менеджеров, копирайтеров, SEO-специалистов нашей команды, были созданы десятки уникальных,
        красивых и
        главное — полезных для бизнеса сайтов для России. Теперь же мы «возвращаемся в родную гавань» и приступаем к
        новому
        витку развития создания сайтов в Кыргызстане, в городе Бишкек.</p>
    </div>
  </div>
  <h5>Заказать сайт под ключ</h5>
  <div class="about-us__block">
    <div class="about-us__text-block">
      <p>Наша команда состоит из настоящих профессионалов своего дела. Дизайнеры создают супер-макеты, верстальщики
        превращают
        рисунки в код, программисты помогают сделать сайт живым, уникальным и на 100% рабочим, а менеджеры и копирайтеры
        наносят завершающие и важные штрихи в адаптации сайта в интернете. Вместе мы создаем не просто новые веб-сайты,
        мы
        создаем настоящие шедевры, которые украшают интернет, поднимают статус любого бизнеса и приносят пользу его
        обладателю.
        Да, сегодня качественный, грамотный, тематический и индивидуальный сайт должен быть у каждого бизнесмена, у
        каждой
        компании, салона красоты, автомастерской, ресторана, кафе и т.д. и т.п.

        Потому что любой современный человек ищет то, что ему нужно, с помощью интернета. А если у Вас нет личного
        сайта, если
        Вы не продвигаете свой бизнес в глобальной сети, то… В общем, потенциальные клиенты просто не смогут о Вас
        узнать и
        воспользоваться Вашими услугами / заказать Ваш товар.

        Поэтому мы сегодня готовы предложить качественный, индивидуальный, красивый, тематический сайт каждому
        бизнесмену. Мы
        предлагаем создание профессиональных сайтов для бизнеса в Бишкеке.

        Причем, прорисовка и разработка сайтов в Бишкеке с нашей стороны осуществляется под ключ. То есть, мы все
        нарисуем
        сами, сфотографируем сами, сами обработаем, скомпонуем и поместим на сайт. Сайты под ключ в Бишкеке
        подразумевают
        полное создание сайта ОТ и ДО. Вы только расскажите нам, какой у Вас бизнес, уточните, какой примерно хотите
        сайт, а
        мы уже сделаем все сами и в итоге дадим Вам пароли от действующего, живого, ГОТОВОГО сайта для Вашего бизнеса в
        интернете.</p>
    </div>
    <div class="about-us__img-block">
      <img src="assets/images/about-us-img-3.png" style="max-width: 100%; margin-top: -60px" alt="">
    </div>
  </div>
  <h5>Создание сайтов в Бишкеке</h5>
  <div class="about-us__block">
    <p>Когда мы говорим, что сделаем сайт под ключ, мы не шутим. Новый веб-сайт, который Вы закажите у нас, будет сделан
      полностью! Разработка сайта начнется с покупки домена и хостинга, продолжится прорисовкой баннеров и разметкой
      макета,
      далее совершится большая работа по верстке и коду, и в итоге мы предоставим Вам готовый сайт, который полностью
      отвечает требованиям Вашего бизнеса и лежит в интернете.

      Мы беремся за создание сайтов в Бишкеке со всей серьезностью и ответственностью. И готовый сайт от нашей студии —
      это
      ГОТОВЫЙ сайт, там уже будут и баннера, и тематические тексты, и полноценная навигация, и все необходимые формы
      обратной связи для привлечения и контакта с потенциальными клиентами Вашего бизнеса.

      То есть, на сайт, который Вы закажите у нас, смогут заходить Ваши потенциальные клиенты и заказывать Ваши услуги,
      покупать Ваш товар, узнавать о Вас, звонить Вам и писать. В общем — мы создадим для Вас такой сайт в Бишкеке,
      который
      продвинет Ваш бизнес на новый уровень — уровень 21-го века!</p>
  </div>
  <h5>Разработка сайтов</h5>
  <div class="about-us__block">
    <div class="about-us__text-block">
      <p>После того, как мы обсудим с Вами варианты создания сайта для Вашего бизнеса, после того, как Вы закажите наши
        услуги, мы сразу же приступим к разработке сайта. Наша команда выполняет работу по ролям и грамотно, поэтапно,
        профессионально шаг за шагом воплощает идею в жизнь.

        Благодаря коллективной работе и мастерскому подходу, разработка сайтов в Бишкеке с нашей стороны не занимает
        много
        времени. В зависимости от сложности проекта, от объема прорисовки, верстки, кодировки, от объема запланированных
        текстов на страницы сайта — составляется график демонстрации хода работ и сдачи проекта целиком.

        Опираясь на личный немаленький опыт, скажем, что небольшие, профильные сайты для бизнеса создаются в течение
        одной-двух недель. Более сложные и объемные сайты занимают больше времени — примерно месяц. Но даже месяц — это
        не
        много для абсолютно нового, разработанного и наполненного сайта персонально для Вашего бизнеса. А уж 2 недели
        для
        сайта под ключ — это на самом деле очень быстро и профессионально!</p>
    </div>
    <div class="about-us__img-block">
      <img src="assets/images/about-us-img-2.png" alt="">
    </div>
  </div>
  <h5>Заказ сайта в Бишкеке</h5>
  <div class="about-us__block">
    <div class="about-us__img-block">
      <img src="assets/images/about-us-img-4.png" alt="">
    </div>
    <div class="about-us__text-block">
      <p>Поэтому, уважаемые клиенты, мы со всей уверенностью гарантируем вам разработку качественных и профессиональных
        сайтов
        в Бишкеке с нашей стороны. Причем, мы создаем сайты недорого, и выставили минимальные цены на свои услуги по
        веб-разработке в Кыргызстане.

        Если Вы еще сомневаетесь в том, чтобы заказать создание сайта здесь, то посмотрите наши цены на сайты и напишите
        нам
        или позвоните. Все контакты указаны в соответствующем разделе. Мы будем рады ответить на Ваши вопросы и обсудить
        с
        Вами создание нового сайта в Бишкеке. Для нас каждая разработка, каждое наполнение сайта — это радость, так как
        каждый
        наш сайт — это шедевр, в который мы вкладываем душу!
      </p>
    </div>
  </div>
</div>






