<h4>Наши контакты</h4>

<span class="subtitle">Вы всегда можете связаться с нами или заказать консультацию</span>

<div class="cards">
  <div class="card-block">
    <span>Адрес:</span>
    <p>ул.Карла-Маркса 35</p>
  </div>
  <div class="card-block">
    <span>Email:</span>
    <p>webtest@mail.ru</p>
  </div>
  <div class="card-block">
    <span>Телефон:</span>
    <p>+996 555 50 50 50</p>
    <p>+996 555 20 20 20</p>
  </div>
  <button class="btn btn-primary" (click)="orderCall()">Заказать звонок</button>
</div>
