li {
  padding: 0 10px;
}

p {
  margin: 0;
  padding: 20px 0;
  color: #fff;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  margin-bottom: 100px;
}


