<div class="wrapper">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
    <div class="container">
      <a class="navbar-brand " routerLink="/">Web</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/">Главная</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/our-services">Наши услуги</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about-us">О нас</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/contacts">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="footer text-center bg-dark mt-5">
    <div class="container">
      <p>Студия веб-разработки Web</p>
    </div>
  </footer>
</div>



