h4{
  margin: -40px 0 25px;
}

.form-block {
  margin-bottom: 20px;
}

.btn {
  margin-left: 15%;
  padding: 10px 20px;
}

label {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  box-sizing: border-box;
}

input {
  display: block;
  width: 100%;
}
