<h2 class="text-center text-uppercase mb-5">Наши основные направления и услуги</h2>

<div class="row flex-wrap">
  <div class="card text-white bg-secondary">
    <div class="card-header">UX и дизайн</div>
    <div class="card-body">
      <p class="card-text">Проектирование пользовательсктх интерфейсов в веб</p>
    </div>
  </div>
  <div class="card text-white bg-secondary">
    <div class="card-header">Создание сайтов</div>
    <div class="card-body">
      <p class="card-text">Разрабатываем яркие креативные сайты "под ключ"</p>
    </div>
  </div>
  <div class="card text-white bg-secondary">
    <div class="card-header">Web-разработка</div>
    <div class="card-body">
      <p class="card-text">Разраюатываем сложные высоконагруженные проекты</p>
    </div>
  </div>
  <div class="card text-white bg-secondary">
    <div class="card-header">Полиграфия</div>
    <div class="card-body">
      <p class="card-text">Создаем логотипы и фирменный стиль</p>
    </div>
  </div>
  <div class="card text-white bg-secondary">
    <div class="card-header">Аутсорсинг</div>
    <div class="card-body">
      <p class="card-text">Берем проеты на удаленное сопровождение с почасовой оплатой</p>
    </div>
  </div>
  <div class="card text-white bg-secondary">
    <div class="card-header">Аутстафф</div>
    <div class="card-body">
      <p class="card-text">Сдаем в аренду наших сотрудников на долгосрочной основе</p>
    </div>
  </div>
</div>
