h2 {
  font-size: 32px;
}

.card {
  text-align: center;
  margin: 0px 15px 30px 15px;
  width: 30%;
}

.card:hover {
  cursor: pointer;
  box-shadow: 12px 12px 0px 0px #e2dddd;
}

.card-header {
  font-size: 22px;
}
