<h1 class="text-center mb-4">Креативная веб-студия в Бишкеке</h1>
<img class="img" src="assets/images/main-pic.jpg" alt="">
<p>IT компания WEB - творческое объединение лучших веб-дизайнеров и программистов в Кыргызастане, основной задачей
  которого является - создание сайтов в Алматы. В нашем агентстве собрались оптимизаторы веб-ресурсов,
  интернет-маркетологи, специалисты в области дизайна и разработки программного кода, а также бизнес аналитики и
  эксперты по построению каналов продаж.

  Мы прекрасно понимаем, как достучаться до вашей целевой аудитории, а также как сделать пользовательский опыт вашего
  сайта максимально быстрым и продуктивным. За годы работы, мы получили опыт в различных областях бизнеса, а также
  изучили тонкости модернизации воронки продаж в компаниях самого различного типа. Для всех наших клиентов, кому
  потребовалась разработка сайтов в Бишкеке, мы предоставляем уникальный, неповторимый авторский дизайн сайта с нуля.</p>

<h4 class="my-4">Создание сайта с нуля от 7 дней.</h4>
<p>Если вашей компании требуется создание сайта в г. Бишкек, то веб студия WEB - ваш правильный выбор. Мы нарисуем для
  вас индивидуальный дизайн макет, подключим систему управления сайтом на ваш выбор, а еще настроим индексацию в
  поисковых системах. Мы не просто разрабатываем landing page, мы предлагаем комплексные решения по продвижению бизнеса
  в интернете. Среди наших основных услуг, такие продукты как:</p>
<ul>
  <li>Сайт визитка</li>
  <li>Интернет магазин</li>
  <li>Корпоративный сайт</li>
  <li>Сайты с самописной админ панелью.</li>
  <li>Техническая поддержка и продвижение сайтов.</li>
</ul>
<p>Кроме того, мы всегда готовы бесплатно проконсультировать вас и предложить оптимальное решение именно для вашей
  организации, как с точки зрения сложности проекта и постановки основных задач, так и со стороны цены на запуск и
  рекламу сайта.</p>
